<div class="cart_item">
    <h5><%= "#{current_user.order.order_items.count} items in cart and price #{current_user.order.subtotal}" %> </h5>
	<%= render "carts/cart_item", order_items: current_user.order.order_items %>
	 <% if current_user && current_user.order.nil? %>
	     <%= link_to 'Confirm Order', carts_status_path%>
		 <%else%>
	<%= link_to 'Confirm Order', carts_confirm_order_path, class: 'btn btn-primary' %>
	<% end %>
</div>
<div>
 <head>
      <style>
         table, th, td {
            border: 1px solid black;
         }
      </style>
   </head>
<body>
<h3> Previous order </h3>
  <table>
	<% OrderItemHistory.where(user_id: current_user.id).each do |item|%>
		<li><p> Product: <%= item.product.title %></p></li>
		<li><p> Quantity: <%= item.quantity %> </p></li>
		<li><p> Price: <%= item.product.price %></p></li>
		<li><p> Date placed: <%= (item.created_at) %></p></li>
	<% end %>
</div>